/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------KONTENER W KTÓRYM STRONA JEST NA ŚRODKU---------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Ustawienia ogólne*/
.main-container {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 4px solid #E5E3DA;
	border-bottom: 1px solid #DDD;
	border-radius: 10px;
	box-shadow: 0 0 6px #E0DED5;
	margin: 0 auto;
	width: 90%;
}
/*globalne ustawienie,dzięki któremu wszystko trafia automatycznie do tego kontenera*/
.main-container:after {
  content:'';
  display:block;
  clear:both;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------Logo i serwisy po prawej nad menu------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#logoiserwisy {
  background-color:transparent;
  border:0px;
  font-size:1.4em;
}
#logoiserwisy:after {
  content:'';
  display:block;
  clear:both;
}
/* Logo Strony */
#logo {
  float:left;
  width:20%;
  padding:0px 20px;
  margin-top: -2%;
  margin-bottom: -2%;
}
/* Część wspólna dla serwisy */
#serwisy {
  float:right;
  width:60%;
  display:block;
  margin-top:40px;
  padding:0px 20px;
  margin-top: 4%;

}
#fb {
  float:right;
  width:5%;
  padding:3px 7px;
}
#instagram {
  float:right;
  width:5%;
  padding:3px 7px;
}
#tweeter {
  float:right;
  width:5%;
  padding:3px 7px;
}
#youtube {
  float:right;
  width:6.5%;
  padding:3px 7px;
}
#mail {
  float:right;
  width:6.4%;
  padding:3px 7px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------MENU ROZWIJANE DLA PC---------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------CZĘŚĆ-GÓRNA-MENU------------------------------- */
/* --------------------------------------------------------------------------- */
/* usunięcie domyślnych właściwości CSS z elementów - ol - oraz - ul */
#menu, #menu ul, #menu ol {
  list-style-type:none;
  padding:0;
  margin:0;
}
/* wygląd głównego elementu - ol */
#menu {
  background-color:#FFF;
  font-size:15px;
  height:2em;
  line-height:45px;                                         /* pozycja góra dół liter na pasku menu */
  text-align:center;
  margin-left: -7px;
  margin-right: -25px;
}
/* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
#menu a {
  display:block;
  text-decoration:none;
	font-weight:bold;
  font-size:17px;
	font-family: timesnewroman;
  color:rgb(255, 255, 255);
  padding:0 5px;
	letter-spacing:3px;
	height: 60px;

}
/* wygląd elementów - li - wszystkich dzieci elementu - ol */
#menu > li {
  float:left;
  width:227px;                                              /* szerokość paska menu */
  margin-left:1px;
  background-color:rgb(32, 204, 27);
  height:45px;
}
/* wygląd elementu - li - pierwszego dziecka elementu - ol */
#menu > li:first-child {
  margin-right:0px;
}
/* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
#menu > li:hover {
  background-color:rgb(26, 163, 21);
  padding: 4px;                                            /* Powiększy pasek menu po najechaniu */
}
/* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
#menu > li:hover > a {
  color:rgb(0, 0, 0);
  margin-bottom: -11px;
}
/* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
#menu > li:hover > ul {
  display:block;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-1----------------------- */
/* ---------------------------------------------------------------------------- */
/* wygląd głównych rozwijanych elementów - ul */
#menu > li > ul {
  display:none;
}
/* wygląd elementu - li - w części rozwijanej */
#menu > li > ul > li {
  position:relative;
  background-color:rgba(26, 163, 21, 0.79);
}
/* wygląd elementu - a - w części rozwijanej */
#menu > li > ul > li > a {
  border-top:1px solid #FFF;
  font-size:15px;
	letter-spacing:2px;
  line-height:4em;                                      /* pozycja góra dół liter w menu poziom 1 */
}
/* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
#menu > li > ul > li:hover {
  background-color:rgb(18, 114, 14);
}
/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
#menu > li > ul > li:hover > a {
  color:rgb(250, 250, 250);
  padding: 10px 0;                                      /* powiększy menu poziom 1 po najechaniu */
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-2----------------------- */
/* ---------------------------------------------------------------------------- */
/* wygląd głównego elementu - ol - w drugiej części rozwijanej */
#menu > li > ul > li > ol {
  display:none;
  width:150%;
  position:absolute;
  left:100%;
  margin-top:-2em;
}
/* wygląd głównego elementu - ol - w drugiej części rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
#menu > li > ul > li:hover > ol {
  display:block;
}
/* wygląd elementów - li - w drugiej części rozwijanej */
#menu > li > ul > li > ol > li {
  background-color:rgba(26, 163, 21, 0.79);
}
/* wygląd elementu - li - w drugiej części rozwijanej, po najechaniu kursorem myszki na dany element - li */
#menu > li > ul > li > ol > li > a:hover {
  background-color:rgb(26, 163, 21);
}
/* wygląd elementów - a - w drugiej części rozwijanej */
#menu > li > ul > li > ol > li > a {
  border-top:1px solid #FFF;
  border-left:1px solid #FFF;
}
/* wygląd elementu - a - w drugiej części rozwijanej, po najechaniu kursorem myszki */
#menu > li > ul > li > ol > li > a:hover {
  color:rgb(255, 255, 255);
}

/* --------------------------------WSPÓLNE--------------------------------- */
/* ------------------------------------------------------------------------ */
/* zaokrąglone rogi wszystkich elementów - li - oraz - a */
#menu li, ol a {
  border-radius:0px;
}
/* strzałka w dół */
/* #menu .dol {
  background-image:url('https://webkod.pl/images/down.png');
  background-repeat:no-repeat;
  background-position:98% center;
}
*/
/* strzałka w prawo */
#menu .prawo {
  background-image:url('https://webkod.pl/images/right.png');
  background-repeat:no-repeat;
  background-position:100% center;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------KONTENERY NA ŚRODKU STRONY---------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.kontenery {
  background-color:transparent;
  margin-left: 20px;
  margin-right: 5px;

}
/* Wszystkie span w kontenerze */
.kontenery h1 {
  font-size: 25px;

}
.span {
  float:left;
  margin-top: -65px;
  margin-left: 18%;
  background-color: white;
  height:60px;
}
.a11, .a11a {
  float:left;
  width:440px;
  margin-right: 2%;
}
.a22, .a22a{
  float:left;
  width:520px;
  margin-right: 2%;
}
.a33, .a33a {
  float:left;
  width:520px;
}
.a44, a44a {
  float:left;
  width:30%;
  margin-top: 120px;
}
.a44a {
  float:left;
}
















/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------- S T O P K A ------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#stopka {
  margin-left:85px;
  margin-right:85px;
  background-color:rgb(32, 204, 27);
  height:50px;
  text-align:center;
}
/* wygląd elementu a  */
#stopka a {
  display:block;
  text-decoration:none;
	font-weight:bold;
  font-size:20px;
	font-family: timesnewroman;
  color:rgb(255, 255, 255);
  padding:0 5px;
	letter-spacing:3px;
	height: 40px;
  padding: 12px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
